@media only screen and (min-width: 1024px) and (max-width: 1365px) {

body {
  width: 1024px;
  margin: 0 auto;
  background: #EAEAEA;
  height: 2339px;
}
h1 {
  font-family: 'Gramatika';
  font-style: normal;
  font-weight: 400;
  font-size: 135px;
  line-height: 135px;
  color: #33A4CB;
}
h2 {
  font-family: 'Gramatika';
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 110px;
  font-feature-settings: 'ss03' on;
}
#item	{
	transition: opacity 0.4s ease;
}

.container:hover #item {
	opacity: 0.6;
}

.container:hover #item:hover {
	opacity: 1;
  animation: bounceOut 0.6s cubic-bezier(0.73, -0.01, 0.3, 1.01);
}
@keyframes bounceOut {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.97);
  }

  50% {
    transform: scale(1.01);
  }

  75% {
    transform: scale(1);
  }
}
.section1, .section3, .section5 {
  display: flex;
  gap: 16px;
  margin: 16px;
}
.rscreen1, .lscreen1, .cscreen1, .runscreen1, .holo, .bumerazhik, .vkusnokrutoveselo, .animation1, .animation2, .animation3, .taxi, .words, .superanimation, .hello, .school {
  border-radius: 10px;
  overflow: hidden;
}
/* секция 1 */
.rscreen1, .lscreen1 {
  width: 196px;
  height: 483px;
  background: #33A4CB;
}
.cscreen1 {
  width: 568px;
  height: 483px;
  background: #33A4CB;
}
.brightyYAR {
  width: 437px;
  background-size: cover;
  margin-left: 80px;
  margin-top: 14px;
  animation: brightyanimation1 3s cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes brightyanimation1 {
  0% {margin-left: -1200px;}
  100% {margin-left: 80px;}
}
@keyframes brightyanimation2 {
  0% {margin-left: 1200px;}
  100% {margin-left: 75px;}
}
.brightyKO {
  width: 437px;
  background-size: cover;
  margin-left: 75px;
  margin-top: 22px;
  animation: brightyanimation2 3s cubic-bezier(0.4, 0, 0.2, 1);
}
.sunny1, .sunny2 {
  margin: 44px;
  margin-left: 30px;
  width: 140px;
  background-size: cover;
}
.sunny1 {
    animation: sunny-animation1 5s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite;
}
@keyframes sunny-animation1 {
  0% {margin-top: 900px;}
  100% {margin-top: -450px;}
}
.sunny2 {
    animation: sunny-animation2 5s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite;
}
@keyframes sunny-animation2 {
  0% {margin-top: -900px;}
  100% {margin-top: 450px;}
}
/* секция 2 */
.runscreen1 {
  width: 992px;
  height: 227px;
  background: #E8D41A;
  margin: 16px;
}
.happy {
  margin: 63px;
  margin-left: 9px;
  color: #33A4CB;
  white-space: nowrap;
  animation: stroke 7s linear infinite;
}
@keyframes stroke {
  0% {margin-left: 9px;}
  100% {margin-left: -1540px;}
}
/* секция 3 */
.leftsflex {
  display: flex;
  gap: 16px;
}
.holo {
  width: 364px;
  height: 414px;
  background: #FBB404;
}
.holo1 {
  width: 364px;
  height: 414px;
  background-size: cover;
  animation: splash 3.4s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}
.bumerazhik {
  width: 195px;
  height: 414px;
  background: linear-gradient(180deg, #F16A28, #9263D5, #33A4CB);
  background-size: 1000% 1000%;
  animation: gradient 50s linear infinite;
}
@keyframes gradient {
  0% {background-position: 0 50%;}
  55% {background-position: 200% 500%;}
  100% {background-position: 0 50%;}
}
.bumerazhik1 {
  width: 154px;
  height: 205px;
  background-size: cover;
  margin: 98px;
  margin-left: 20px;
  animation: bumerazhik1 5s infinite;
}
@keyframes bumerazhik1 {
  0% {transform: rotate(3deg);}
  50% {transform: rotate(-3deg);}
  100% {transform: rotate(3deg);}
}
.vkusnokrutoveselo {
  width: 575px;
  height: 279px;
  background: #33A4CB;
  margin-top: 16px;
}
.vkusno {
  position: relative;
  color: #D9D9D9;
  white-space: nowrap;
  animation: vkusnorunning 2.5s linear infinite;
}
.vkusno:hover {
  color: #E8D41A;
  transition: 5s;
}
@keyframes vkusnorunning {
  0% {margin-left: 0px;}
  100% {margin-left: -282px;}
}
.kruto {
  position: relative;
  color: #D9D9D9;
  bottom: 20px;
  white-space: nowrap;
  animation: krutorunning 2.5s linear infinite;
}
.kruto:hover {
  color: #E8D41A;
  transition: 5s;
}
@keyframes krutorunning {
  0% {margin-left: -232px;}
  100% {margin-left: 0px;}
}
.veselo {
  color: #D9D9D9;
  position: relative;
  bottom: 40px;
  white-space: nowrap;
  animation: vkusnorunning 2.5s linear infinite;
}
.veselo:hover {
  color: #E8D41A;
  transition: 5s;
}
.animation1 {
  width: 402px;
  height: 413px;
  background: #F16A28;
}
.animation2 {
  width: 402px;
  height: 384px;
  background: #9263D5;
  margin-top: 16px;
}
.triangles {
  height: 312px;
  animation: trianglesrunning 3s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite alternate;
}
@keyframes trianglesrunning {
  0% {margin-left: -337px;}
  100% {margin-left: 0px;}
}
.light1 {
  height: 312px;
  margin-left: -32px;
  position: relative;
  animation: light1running 3s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite alternate;
}
@keyframes light1running {
  0% {bottom: -456px;}
  100% {bottom: 0px;}
}
.light2 {
  height: 312px;
  position: relative;
  animation: light2running 3s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite alternate;
}
@keyframes light2running {
  0% {top: -456px;}
  100% {top: 0px;}
}
.round {
  height: 312px;
  margin-left: 47px;
  position: relative;
  animation: roundrunning 3s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite;
}
@keyframes roundrunning {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}
.slider1 {
   width: 400px;
  height: 312px;
   overflow: hidden
}
.slider2 {
  margin-top: 16px;
   width: 400px;
  height: 384px;
   overflow: hidden
}
.animationcurve {
  border-radius: 10px;
   top: 50%;
   left: 50%;
}
.s1 {
  background: #F16A28;
  overflow: hidden;
}
.s2 {
  background: #E8D41A;
  overflow: hidden;
}
.s3 {
  background: #FBB404;
  overflow: hidden;
}
.navigation1 {
  display: flex;
  position: relative;
  margin-top: -50px;
  margin-left: 168px;
}
.bullet {
   width: 12px;
   height: 12px;
   border-radius:100%;
   margin: 6px;
   cursor: pointer;
   background-color: #F0FFFF;
   opacity: .5;
   border-radius: 10px;
   transition: all 0.4s ease;
}
.bullet:hover {
   opacity: 1;
   transform:scale(1.1);
}
input[name="r"] {
   position: absolute;
   visibility: hidden;
}
.slides {
   width: 400%;
   height: 100%;
   display: flex;
   overflow: hidden;
}
.slide {
   width: 25%;
   transition: all 0.6s cubic-bezier(0.86,-0.01, 0.05, 0.99);
}
.img {
   width: 100%;
   height: 100%;
}
#r1:checked ~ .s1 {
   margin-left: 0;
}
#r2:checked ~ .s1 {
   margin-left: -25%;
}
#r3:checked ~ .s1 {
   margin-left: -50%;
}
.quadratictriangles {
  height: 384px;
  width: 400px;
  animation: quadraticrunning 3s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite alternate;
}
@keyframes quadraticrunning {
  0% {transform: rotate(180deg);}
  100% {transform: rotate(0deg);}
}
.light3 {
  transform: scale(0.7);
  height: 203px;
  position: relative;
  animation: light3running 3s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite alternate;
}
@keyframes light3running {
  0% {right: -656px;}
  100% {right: -45px;}
}
.light4 {
  transform: scale(0.7);
  height: 203px;
  bottom: 75px;
  position: relative;
  animation: light4running 3s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite alternate;
}
@keyframes light4running {
  0% {left: -656px;}
  100% {left: 0px;}
}
.swoosh {
  transform: scale(0.7);
  margin-top: -266px;
  position: relative;
  animation: swoosh 3s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite alternate;
}
@keyframes swoosh {
  0% {top: -534px; left: 525px;}
  100% {top: -39px; left: 25px;}
}
.k1 {
  background: #9263D5;
  overflow: hidden;
}
.k2 {
  background: #E8D41A;
  overflow: hidden;
}
.k3 {
  background: #33A4CB;
  overflow: hidden;
}
.navigation2 {
  display: flex;
  margin-top: -50px;
  margin-left: 168px;
}
.navigation3 {
  display: flex;
  margin-top: -118px;
  margin-left: 168px;
}
input[name="p"] {
   position: absolute;
   visibility: hidden;
}
.slides {
   width: 400%;
   height: 100%;
   display: flex;
   overflow: hidden;
}
.slide {
   width: 25%;
   transition: all 0.6s ease;
}
#p1:checked ~ .k1 {
   margin-left: 0;
}
#p2:checked ~ .k1 {
   margin-left: -25%;
}
#p3:checked ~ .k1 {
   margin-left: -50%;
}
.section4 {
  display: flex;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
/* секция 4 */
.animation3 {
  width: 438px;
  height: 459px;
  background: #F16A28;
}
.squares {
  transform: scale(0.8);
  position: relative;
  right: 116px;
  bottom: 114px;
  animation: squaresanimation 10s cubic-bezier(0.73, -0.01, 0.3, 1.01) infinite alternate;
}
@keyframes squaresanimation {
  0% {margin-left: 0px;}
  25% {margin-top: -472px; margin-left: 0;}
  50% {margin-top: -472px; margin-left: -474px;}
  75% {margin-top: 0; margin-left: -474px;}
  100% {margin-top: 0; margin-left: 0px;}
}
.taxi {
  width: 436px;
  height: 233px;
  background: #E8D41A;
  margin-top: 16px;
}
.taxi1 {
  transform: scale(0.8);
  position: relative;
  margin-left: -115px;
  bottom: 35px;
  animation: taxianimation1 4s cubic-bezier(0.73, -0.01, 0.3, 1.01) infinite alternate;
}
@keyframes taxianimation1 {
  0% {bottom: 160px;}
  33% {bottom: 13px; left: 0;}
  66% {bottom: 18px; left: 100px;}
  100% {bottom: 160px; left: 100px;}
}
.taxi2 {
  transform: scale(0.8);
  position: relative;
  top: 40px;
  animation: taxianimation2 4s cubic-bezier(0.73, -0.01, 0.3, 1.01) infinite alternate;
}
@keyframes taxianimation2 {
  0% {top: 100px;}
  33% {top: -50px; left: 0;}
  66% {top: -48px; left: 100px;}
  100% {top: 100px; left: 100px;}
}
.words {
  width: 534px;
  height: 218px;
  background: #E8D41A;
  background-image: url("../images/fast1.svg");
  background-position: center;
}
.wordsrunning {
 margin-left: 16px;
 margin-top: 35px;
 animation: wordsup 3.4s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@keyframes wordsup {
  0% {margin-top: 600px;}
  50% {margin-top: 35px;}
  100% {margin-top: 600px;}
}
.superanimation {
  width: 534px;
  height: 475px;
  background: #33A4CB;
  margin-top: 16px;
}
.superanimation1 {
 width: 534px;
 height: 475px;
 animation: splash 3.4s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
 background-size: cover;
}
@keyframes splash {
  0% {
      transform: scale(2.3);
      -webkit-transform: scale(2.3);
  }
  100% {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
  }
}
/* секция 5 */
.hi {
margin: 30px;
font-family: 'Gramatika';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 30px;

letter-spacing: 0.03em;
text-transform: uppercase;
font-feature-settings: 'ss03' on;

color: #FFFFFF;
}
.hello {
  width: 755px;
  height: 129px;
  background-image: url('../images/footermini.svg');
}
.school {
  width: 221px;
  height: 129px;
  background: #E8D41A;
}
.hselogo {
  padding: 36px;
  width: 160px;
  background-size: cover;
}
}
