@media only screen and (min-width: 360px) and (max-width: 413px) {

body {
  width: 360px;
  margin: 0 auto;
  background: #EAEAEA;
  height: 2332px;
}
h1 {
  font-family: 'Gramatika';
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 85px;
  color: #33A4CB;
}
h2 {
  font-family: 'Gramatika';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-feature-settings: 'ss03' on;
}
#item	{
	transition: opacity 0.4s ease;
}

.container:hover #item {
	opacity: 0.6;
}

.container:hover #item:hover {
	opacity: 1;
  animation: bounceOut 0.6s cubic-bezier(0.73, -0.01, 0.3, 1.01);
}
@keyframes bounceOut {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.97);
  }

  50% {
    transform: scale(1.01);
  }

  75% {
    transform: scale(1);
  }
}
.section1, .section5 {
  display: flex;
  gap: 6px;
  margin: 6px;
}
.rscreen1, .lscreen1, .cscreen1, .runscreen1, .holo, .bumerazhik, .vkusnokrutoveselo, .animation1, .animation2, .animation3, .taxi, .words, .superanimation, .hello, .school {
  border-radius: 5px;
  overflow: hidden;
}
/* секция 1 */
.rscreen1, .lscreen1 {
  width: 69px;
  height: 167px;
  background: #33A4CB;
}
.cscreen1 {
  width: 198px;
  height: 167px;
  background: #33A4CB;
}
.brightyYAR {
  width: 121px;
  background-size: cover;
  margin-left: 42px;
  margin-top: 23px;
  animation: brightyanimation1 3s cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes brightyanimation1 {
  0% {margin-left: -600px;}
  100% {margin-left: 42px;}
}
@keyframes brightyanimation2 {
  0% {margin-left: 600px;}
  100% {margin-left: 42px;}
}
.brightyKO {
  width: 121px;
  background-size: cover;
  margin-left: 42px;
  margin-top: 10px;
  animation: brightyanimation2 3s cubic-bezier(0.4, 0, 0.2, 1);
}
.sunny1, .sunny2 {
  margin: 44px;
  margin-left: 10px;
  width: 50px;
  background-size: cover;
}
.sunny1 {
    animation: sunny-animation1 5s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite;
}
@keyframes sunny-animation1 {
  0% {margin-top: 200px;}
  100% {margin-top: -250px;}
}
.sunny2 {
    animation: sunny-animation2 5s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite;
}
@keyframes sunny-animation2 {
  0% {margin-top: -200px;}
  100% {margin-top: 250px;}
}
/* секция 2 */
.runscreen1 {
  width: 348px;
  height: 67px;
  background: #E8D41A;
  margin: 6px;
}
.happy {
  margin: 23px;
  margin-left: 9px;
  color: #33A4CB;
  white-space: nowrap;
  animation: stroke 4s linear infinite;
}
@keyframes stroke {
  0% {margin-left: 9px;}
  100% {margin-left: -610px;}
}
/* секция 3 */
.section3 {
  margin: 6px;
}
.leftsflex {
  display: flex;
  gap: 6px;
}
.holo {
  width: 273px;
  height: 302px;
  background: #FBB404;
}
.holo1 {
  width: 273px;
  height: 302px;
  background-size: cover;
  animation: splash 3.4s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}
.bumerazhik {
  width: 146px;
  height: 302px;
  background: linear-gradient(180deg, #F16A28, #9263D5, #33A4CB);
  background-size: 1000% 1000%;
  animation: gradient 50s linear infinite;
}
@keyframes gradient {
  0% {background-position: 0 50%;}
  55% {background-position: 200% 500%;}
  100% {background-position: 0 50%;}
}
.bumerazhik1 {
  width: 91px;
  height: 203px;
  background-size: cover;
  margin: 30px;
  margin-left: 13px;
  animation: bumerazhik1 5s infinite;
}
@keyframes bumerazhik1 {
  0% {transform: rotate(3deg);}
  50% {transform: rotate(-3deg);}
  100% {transform: rotate(3deg);}
}
.vkusnokrutoveselo {
  width: 348px;
  height: 143px;
  background: #33A4CB;
  margin-top: 6px;
}
.vkusno {
  position: relative;
  color: #D9D9D9;
  bottom: 10px;
  white-space: nowrap;
  margin-top: 22px;
  animation: vkusnorunning 1s linear infinite;
}
.vkusno:hover {
  color: #E8D41A;
  transition: 5s;
}
@keyframes vkusnorunning {
  0% {margin-left: 0px;}
  100% {margin-left: -113px;}
}
.kruto {
  position: relative;
  color: #D9D9D9;
  bottom: 17px;
  white-space: nowrap;
  margin-top: 22px;
  animation: krutorunning 1s linear infinite;
}
.kruto:hover {
  color: #E8D41A;
  transition: 5s;
}
@keyframes krutorunning {
  0% {margin-left: -93px;}
  100% {margin-left: 0px;}
}
.veselo {
  color: #D9D9D9;
  position: relative;
  bottom: 24px;
  white-space: nowrap;
  margin-top: 22px;
  animation: vkusnorunning 1s linear infinite;
}
.veselo:hover {
  color: #E8D41A;
  transition: 5s;
}
.animation1 {
  width: 348px;
  height: 413px;
  background: #F16A28;
}
.animation2 {
  width: 348px;
  height: 384px;
  background: #9263D5;
  margin-top: 6px;
}
.triangles {
  height: 263px;
  animation: trianglesrunning 3s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite alternate;
}
@keyframes trianglesrunning {
  0% {margin-left: -337px;}
  100% {margin-left: 0px;}
}
.light1 {
  height: 263px;
  margin-left: -17px;
  position: relative;
  animation: light1running 3s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite alternate;
}
@keyframes light1running {
  0% {bottom: -456px;}
  100% {bottom: 0px;}
}
.light2 {
  height: 263px;
  position: relative;
  animation: light2running 3s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite alternate;
}
@keyframes light2running {
  0% {top: -456px;}
  100% {top: 0px;}
}
.round {
  height: 263px;
  margin-left: 41px;
  position: relative;
  animation: roundrunning 3s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite;
}
@keyframes roundrunning {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}
.slider1 {
  margin-top: 6px;
  width: 348px;
  height: 263px;
  overflow: hidden
}
.slider2 {
  margin-top: 6px;
  width: 348px;
  height: 324px;
  overflow: hidden
}
.animationcurve {
  border-radius: 5px;
   top: 50%;
   left: 50%;
}
.s1 {
  background: #F16A28;
  overflow: hidden;
}
.s2 {
  background: #E8D41A;
  overflow: hidden;
}
.s3 {
  background: #FBB404;
  overflow: hidden;
}
.navigation1 {
  display: flex;
  position: relative;
  margin-top: -50px;
  margin-left: 136px;
}
.bullet {
   width: 12px;
   height: 12px;
   border-radius:100%;
   margin: 6px;
   cursor: pointer;
   background-color: #F0FFFF;
   opacity: .5;
   border-radius: 10px;
   transition: all 0.4s ease;
}
.bullet:hover {
   opacity: 1;
   transform:scale(1.1);
}
input[name="r"] {
   position: absolute;
   visibility: hidden;
}
.slides {
   width: 400%;
   height: 100%;
   display: flex;
   overflow: hidden;
}
.slide {
   width: 25%;
   transition: all 0.6s cubic-bezier(0.86,-0.01, 0.05, 0.99);
}
.img {
   width: 100%;
   height: 100%;
}
#r1:checked ~ .s1 {
   margin-left: 0;
}
#r2:checked ~ .s1 {
   margin-left: -25%;
}
#r3:checked ~ .s1 {
   margin-left: -50%;
}
.quadratictriangles {
  height: 324px;
  margin-left: 10px;
  animation: quadraticrunning 3s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite alternate;
}
@keyframes quadraticrunning {
  0% {transform: rotate(180deg);}
  100% {transform: rotate(0deg);}
}
.light3 {
  height: 136px;
  top: 15px;
  background-size: cover;
  position: relative;
  animation: light3running 3s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite alternate;
}
@keyframes light3running {
  0% {right: -656px;}
  100% {right: -85px;}
}
.light4 {
  height: 136px;
  top: 24px;
  background-size: cover;
  position: relative;
  animation: light4running 3s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite alternate;
}
@keyframes light4running {
  0% {left: -656px;}
  100% {left: -10px;}
}
.swoosh {
  transform: scale(0.5);
  margin-top: -320px;
  position: relative;
  animation: swoosh 3s cubic-bezier(0.86,-0.01, 0.05, 0.99) infinite alternate;
}
@keyframes swoosh {
  0% {top: -534px; left: 525px;}
  100% {top: 69px; left: -75px;}
}
.k1 {
  background: #9263D5;
  overflow: hidden;
}
.k2 {
  background: #E8D41A;
  overflow: hidden;
}
.k3 {
  background: #33A4CB;
  overflow: hidden;
}
.navigation2 {
  display: flex;
  margin-top: -50px;
  margin-left: 136px;
}
.navigation3 {
  display: flex;
  margin-top: 0px;
  margin-left: 139px;
}
input[name="p"] {
   position: absolute;
   visibility: hidden;
}
.slides {
   width: 400%;
   height: 100%;
   display: flex;
   overflow: hidden;
}
.slide {
   width: 25%;
   transition: all 0.6s ease;
}
#p1:checked ~ .k1 {
   margin-left: 0;
}
#p2:checked ~ .k1 {
   margin-left: -25%;
}
#p3:checked ~ .k1 {
   margin-left: -50%;
}
.section4 {
  padding-left: 6px;
  padding-right: 6px; */
}
/* секция 4 */
.animation3 {
  width: 348px;
  height: 313px;
  background: #F16A28;
}
.squares {
  transform: scale(0.7);
  position: relative;
  right: 181px;
  bottom: 237px;
  animation: squaresanimation 10s cubic-bezier(0.73, -0.01, 0.3, 1.01) infinite alternate;
}
@keyframes squaresanimation {
  0% {margin-left: 0px;}
  25% {margin-top: -412px; margin-left: 0;}
  50% {margin-top: -412px; margin-left: -404px;}
  75% {margin-top: 0; margin-left: -404px;}
  100% {margin-top: 0; margin-left: 0px;}
}
.taxi {
  margin-bottom: 6px;
  width: 348px;
  height: 161px;
  background: #E8D41A;
  margin-top: 6px;
}
.taxi1 {
  transform: scale(0.8);
  position: relative;
  margin-left: -115px;
  bottom: 35px;
  animation: taxianimation1 4s cubic-bezier(0.73, -0.01, 0.3, 1.01) infinite alternate;
}
@keyframes taxianimation1 {
  0% {bottom: 160px;}
  33% {bottom: 13px; left: 0;}
  66% {bottom: 18px; left: 100px;}
  100% {bottom: 160px; left: 100px;}
}
.taxi2 {
  transform: scale(0.8);
  position: relative;
  top: 40px;
  animation: taxianimation2 4s cubic-bezier(0.73, -0.01, 0.3, 1.01) infinite alternate;
}
@keyframes taxianimation2 {
  0% {top: 100px;}
  33% {top: -50px; left: 0;}
  66% {top: -48px; left: 100px;}
  100% {top: 100px; left: 100px;}
}
.words {
  width: 348px;
  height: 159px;
  background: #E8D41A;
  background-image: url("../images/fast2.svg");
  background-position: center;
}
.wordsrunning {
 margin-left: 18px;
 margin-top: 35px;
 animation: wordsup 3.4s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@keyframes wordsup {
  0% {margin-top: 600px;}
  50% {margin-top: 35px;}
  100% {margin-top: 600px;}
}
.superanimation {
  width: 348px;
  height: 314px;
  background: #33A4CB;
  margin-top: 6px;
}
.superanimation1 {
 width: 348px;
 height: 314px;
 animation: splash 3.4s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
 background-size: cover;
}
@keyframes splash {
  0% {
      transform: scale(2.3);
      -webkit-transform: scale(2.3);
  }
  100% {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
  }
}
/* секция 5 */
.hi {
margin: 16px;
font-family: 'Gramatika';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 10px;

letter-spacing: 0.03em;
text-transform: uppercase;
font-feature-settings: 'ss03' on;

color: #FFFFFF;
}
.hello {
  width: 306px;
  height: 53px;
  background-image: url('../images/footermini-2.svg');
}
.school {
  width: 89px;
  height: 53px;
  background: #E8D41A;
}
.hselogo {
  padding: 17px;
  width: 60px;
  background-size: cover;
}
}
