.section1, .section3, .section5 {
  display: flex;
  gap: 25px;
  margin: 25px;
}
.rscreen1, .lscreen1, .cscreen1, .runscreen1, .holo, .bumerazhik, .vkusno, .animation1, .animation2, .animation3, .taxi, .words, .superanimation, .name, .school {
  border-radius: 10px;
  overflow: hidden;
}
.rscreen1, .lscreen1 {
  width: 277px;
  height: 685px;
  background: #33A4CB;
  /* margin-left: 20px; */
  /* margin-top: 20px;
  margin-bottom: 20px; */
  /* margin: 0 auto; */
}
.cscreen1 {
  width: 791px;
  height: 685px;
  background: #33A4CB;
  /* margin-left: 20px; */
  /* margin-top: 20px;
  margin-bottom: 20px; */
  /* margin: 0 auto; */
}
.runscreen1 {
  width: 1394px;
  height: 227px;
  background: #E8D41A;
  margin: 25px;
}
.leftsflex {
  display: flex;
  gap: 25px;
}
.holo {
  width: 482px;
  height: 549px;
  background: #FBB404;
}
.bumerazhik {
  width: 260px;
  height: 549px;
  background: linear-gradient(180deg, #F16A28 0%, #9263D5 45.83%, #33A4CB 100%);
}
.vkusno {
  width: 766px;
  height: 370px;
  background: #33A4CB;
  margin-top: 25px;
}
.animation1 {
  width: 603px;
  height: 413px;
  background: #F16A28;
}
.animation2 {
  width: 603px;
  height: 506px;
  background: #9263D5;
  margin-top: 25px;
}
.section4 {
  display: flex;
  gap: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
.animation3 {
  width: 583px;
  height: 580px;
  background: #F16A28;
}
.taxi {
  width: 583px;
  height: 299px;
  background: #E8D41A;
  margin-top: 25px;
}
.words {
  width: 784px;
  height: 276px;
  background: #E8D41A;
}
.superanimation {
  width: 784px;
  height: 603px;
  background: #33A4CB;
  margin-top: 25px;
}
.name {
  width: 1063px;
  height: 171px;
  background: #9263D5;
}
.mynameis {
margin: 45px;
font-family: 'Gramatika';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 125%;

letter-spacing: 0.03em;
text-transform: uppercase;
font-feature-settings: 'ss03' on;

color: #FFFFFF;
}
.experangminis {
  background-image: url('images/experangminis.svg');
  width: 540px;
  height: 171px;
}
.school {
  width: 312px;
  height: 171px;
  background: #E8D41A;
}
.hselogo {
  padding: 45px;
}
.brighty {
  margin: 38px;
  margin-left: 90px;
}
.sunny1, .sunny2 {
  margin: 44px;
  margin-left: 42px;
}
.superanimation1 {
  margin: 1px;
  margin-left: 0px;
}
.happy {
  margin: 73px;
  margin-left: 208px;
}
.bumerazhik1 {
  margin: 98px;
  margin-left: 27px;
}
